
.infoDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 6rem;
  gap: 2rem;
}
.image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
  border: 2px solid var(--font-color);
}
.basicInfo_Container{
  width: 100%;
  height: 100%; 
  padding: 1rem;         
  word-wrap: break-word;       
  border: 2px solid var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
.instructions{
  text-align: start;
}
.backDiv{
  border: 1px solid var(--font-color);
  color: var(--font-color);
  text-decoration: none;
  width: fit-content;
  padding: 0.25rem 1rem;
  align-self: flex-start;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 1.5rem;
  font-weight: 500;
}
.backDiv:hover{
  cursor: pointer;
  background-color: var(--font-color);
  color: white;
}
.titleContainer{
  font-family: var(--decorative-font);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .infoDiv {
    padding: 2rem;
    gap: 1rem;
  }
  .basicInfo_Container {
    font-size: 0.9rem;
  }
}

@media (max-width: 425px) {
  .infoDiv {
    grid-template-columns: 1fr;
  }
} 