
.infoDiv{
  display: flex;
  box-shadow: inset 0px 0px 15px 5px red;
  width: 70%;
  margin: 0 auto; /* Auto margins on left and right */
  text-align: center; 
  margin-top: 15px;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.image-container h2{
  padding-bottom: 5px;
}
.image-container img{
  width: 375px;
  height: 500px;
  padding: 20px;
  margin-bottom: 55px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.basicInfo_Container{
  border: 2px solid;
  padding: 30px;
  font-size: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 55px;
  margin-left: 45px;
  margin-bottom: 55px;
  width: 50%;
  line-height: 2rem;
}
.basicInfo_Container p{
  padding: 5px;
  
}

.backDiv{
  border: 2px solid;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
  align-self: center;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}
.ingredients{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
