
.infoDiv{
  display: flex;
  width: 70%;
  margin: 0 auto; 
  text-align: center; 
  margin-top: 15px;
  gap: 2%;
}

.image-container h2{
  padding-bottom: 10px;
}
.image{
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-bottom: 55px;
  border: 1.5px solid var(--font-color);
  
}
.basicInfo_Container{
  width: 600px;         
  height: 400px;         
  overflow: hidden;     
  padding: 10px;         
  border: 1px solid #ccc; 
  word-wrap: break-word;       
  border: 1.5px solid var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5rem;
  font-size: 1rem;
}
.basicInfo_Container p{
  padding-top: 5px;
}
ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}
.instructions{
  text-align: start;
 
}
.backDiv{
  border: 1.5px solid #FF3904;;
  color: #FF3904;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
  align-self: flex-start;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
}
.backDiv:hover{
  background-color: #FF3904;
  color: white;
}

.ingredients{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2px;
}
.titleContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;

}
@media (max-width: 768px) {
  .infoDiv{
    display: flex;
    flex-direction: column;
  }
  .image{
    width: 90%;
   
  }
}