@import "../../App.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.8rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 8rem;
  height: auto;
  margin-right: 0.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: var(--font-color);
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--font-color);
  border-radius: 1rem;
}

nav ul li a:hover {
  color: var(--background-color);
  background-color: var(--font-color);
}

nav ul li a.active {
  color: var(--background-color);
  background-color: var(--font-color);
}

nav ul li a.nav-link {
  text-decoration: none;
  color: var(--font-color);
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--font-color);
  border-radius: 1rem;
}

nav ul li a.nav-link:hover {
  color: var(--background-color);
  background-color: var(--font-color);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    nav ul {
      flex-direction: column;
      align-items: flex-end
    }
    .logo img {
      max-width: 6rem;
    }
  } 
}