@import url("../../App.css");

.search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  h1 {
    font-family: var(--decorative-font);
    font-size: var(--big-text-size);
    font-weight: 500;
    margin-bottom: 2rem;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    li {
      font-weight: 500;
    }
  }
}

.search-form {
  display: flex;
  position: relative;
  padding-left: 1rem;
  width: 60%;
  max-width: 40rem;
  .search-input {
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
  }
  .search-button {
    padding: 0.4rem 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--font-color);
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    .search-icon {
      color: white;
    }
  }
}
