@import "../../App.css";

.footer {
  background-color: var(--border-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.8rem 1.8rem 1rem;
  width: 100%;
  flex-shrink: 0;
}

.footer-right {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 0.8rem;
  margin-left: 0.8rem;
}

.social-icons svg {
  width: 1.5rem;
  height: 1.5rem;
}
