@import '../../App.css';

.footer {
    background-color: var(--border-color); 
    color: white; /* White text */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .footer-left {
    margin-left: 20px;
  }
  
  .footer-right {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-left: 10px;
  }
  
  .social-icons svg {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
  }
  