@import '../../App.css';

.cocktail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
    gap: 4.5rem; 
    padding: 3.5rem 11rem 6rem 11rem;
    background-color: var(--background-color); 
    justify-content: center; 
}
