@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FEF4ED;
  --font-color: #FF3904;
  --border-color: #FF3904;
  --shadow-color: #EFEDE6;
  --contrast-color: #1E1E1E;

  --small-text-size: 1rem;
  --mid-text-size: 1.5rem;
  --big-text-size: 3rem;

  --base-font: ;
  
  --decorative-font: font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--base-font);
}