@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #FEF4ED;
  --font-color: #FF3904;
  --border-color: #FF3904;
  --shadow-color: #EFEDE6;
  --contrast-color: #1E1E1E;

  --small-text-size: 1rem;
  --mid-text-size: 1.5rem;
  --big-text-size: 3rem;

  --base-font: "Quicksand", serif;
  /* weight 400 */

  --decorative-font: "DM Serif Display", serif;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--base-font);
}

.test {
  font-family: var(--decorative-font);
  font-size: var(--big-text-size);
}